<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBusinessMapper">

    <resultMap type="SysBusiness" id="SysBusinessResult">
        <id     property="businessId"         column="business_id"        />
        <result property="businessCode"       column="business_code"      />
        <result property="businessName"     column="business_name"    />
        <result property="status"       column="status"      />

    </resultMap>


    <sql id="selectBusinessVo">
        select business_id, business_code, business_name, status
        from sys_business
    </sql>

    <select id="selectBusinessList" parameterType="SysBusiness" resultMap="SysBusinessResult">
        <include refid="selectBusinessVo"/>
        <where>
            status = '0'
            <if test="businessId != null and businessId != ''">
                AND business_id = #{businessId}
            </if>
            <if test="businessCode != null and businessCode != ''">
                AND business_code = #{businessCode}
            </if>
            <if test="businessName != null and businessName != ''">
                AND business_name = #{businessName}
            </if>
            <if test="status != null and status != ''">
                AND business_name = #{businessName}
            </if>
        </where>
    </select>

<!--    <select id="selectBusinessListByUserId" parameterType="SysBusiness" resultMap="SysBusinessResult">-->
<!--        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.`query`, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time-->
<!--        from sys_menu m-->
<!--        left join sys_role_menu rm on m.menu_id = rm.menu_id-->
<!--        left join sys_user_role ur on rm.role_id = ur.role_id-->
<!--        left join sys_role ro on ur.role_id = ro.role_id-->
<!--        where ur.user_id = #{params.userId}-->
<!--            AND menu_type != 'F'-->
<!--        <if test="menuName != null and menuName != ''">-->
<!--            AND m.menu_name like concat('%', #{menuName}, '%')-->
<!--        </if>-->
<!--        <if test="visible != null and visible != ''">-->
<!--            AND m.visible = #{visible}-->
<!--        </if>-->
<!--        <if test="status != null and status != ''">-->
<!--            AND m.status = #{status}-->
<!--        </if>-->
<!--        order by m.parent_id, m.order_num-->
<!--    </select>-->

</mapper>